.appClass {
    height: 100% !important;
    width: 100% !important;
    overflow: auto;
    position: absolute;
    /* height: 100vh !important; */
    min-width: 720px;
    background-color: rgb(221, 212, 201);
}