.appImage {
    width: 350px;
    height: 350px;
}

.appContainer {
    position: relative;
}

.appName {
    position: absolute;
    left: 500px;
    top: 100px;

}

.mainDiv {
    min-width: 1000px;
}

.appPublisher {
    position: absolute;
    left: 500px;
    top: 190px;
}

.appDescription {
    position: absolute;
    left: 500px;
    top: 335px;
}

.commentDiv {
    list-style: none;
    border-radius: 5px;
    height: auto;
    width: 1247px;
    background-color: rgb(230, 220, 220);
}

.line {
    width: 1247px;
}