.appImage {
    width: 350px;
    height: 350px;
    border-radius: 45px;
}

.appContainer {
    position: relative;
}

.appName {
    position: absolute;
    left: 500px;
    top: 100px;

}

.mainDiv {
    height: 100vh !important;
    /* min-width: 1000px; */
}

.appPublisher {
    position: absolute;
    left: 500px;
    top: 190px;
}

.appDescription {
    position: absolute;
    left: 500px;
    top: 335px;
}

.commentDiv {
    list-style: none;
    border-radius: 5px;
    height: auto;
    width: 66%;
    /* background-color: rgb(128, 126, 114); */
    color: rgb(0, 0, 0);
}

.lCom {
    padding-bottom: 8px !important;
    background-color: rgb(128, 126, 114);
    border-radius: 5px;
}

.line {
    width: 66%;
}

.userComment {
    border-radius: 5px;
    height: auto;
    width: 66%;
    /* background-color: rgb(109, 104, 75); */
    color: rgb(0, 0, 0);
}

.pCom {
    padding-bottom: 8px !important;
    background-color: rgb(126, 182, 149);
    border-radius: 5px;
}