.navbarBrand {
    position: absolute;
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Monoton', cursive;
}

.itemsNavbar {
    margin-left: 95px;
}

.activeLink {

    font-weight: bold;
    font-size: 18px;
    color: rgb(18, 183, 224) !important;
}


.navItem {
    font-family: 'Comfortaa', cursive;
}

.navItem2 {
    font-family: 'Comfortaa', cursive;
    color: rgba(255, 255, 255, .5);

}

.itemsNavbar {
    width: 100% !important;
}