.navbarBrand {
    position: absolute;
    font-size: 45px;
}

.itemsNavbar {
    margin-left: 95px;
}

.activeLink {
    /* outline: none; */
    /* text-decoration: none; */
    font-weight: bold;
    font-size: 18px;
    color: rgb(180, 137, 93) !important;
}

/* .uploadItem {
    width: 100% !important;
} */
/* 
.alaki {
    color: rgb(129, 173, 135) !important;
    list-style: none;
    box-shadow: none;
    text-decoration: none;
} */

/* .navUl {
    width: 100% !important;
} */

.itemsNavbar {
    width: 100% !important;
}