.mainContainer {
    display: grid;
    /* align-items: center; */
    /* justify-content: center; */
    align-content: center;
    /* text-align: center; */
    height: 100%;

}

body {
    background-color: rgb(154, 149, 160);
}

:focus {
    outline: none;
}

.content {
    width: 500px;
    position: relative;
}

.input {
    width: 100%;
    border: 0;
    padding: 10px 10px;
    border-bottom: 1px solid #929fba;

}

.input~.border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: 0.5s;
}

.input:focus~.border {
    width: 100%;
    border: 1px solid #4285F4 !important;
    transition: 0.5s;
}

.container {
    border: 2px solid;
    background-color: white;
    border-radius: 8px;
}

.border {
    border: 0px solid;
}