.mainContainer {
    display: grid;
    align-content: center;
    background: linear-gradient(#c0b7b7, #5b5b5f);
    height: 100%;
}

:focus {
    outline: none;
}

.content {
    width: 500px;
    position: relative;
}

.input {
    width: 100%;
    border: 0;
    padding: 10px 10px;
    border-bottom: 1px solid #929fba;

}

.input~.border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: 0.5s;
}

.input:focus~.border {
    width: 100%;
    border: 1px solid #4285F4 !important;
    transition: 0.5s;
}

.warningIcon {
    color: red;
    font-size: 1.6rem;
    position: absolute;
    top: 4px;
    right: 20px;
}

.container {
    border: 2px solid;
    background-color: white;
    border-radius: 8px;
}

.border {
    border: 0px solid;
}